# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Virtual environments
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: user data
*.json
